{:paths ["modules/clj-agent-core/src"
          "modules/clj-agent-llm/src"
          "modules/clj-agent-tools/src"
          "modules/clj-agent-simpleagent/src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.4"}

        ;; LLM 依赖
        net.clojars.wkok/openai-clojure {:mvn/version "0.21.0"}

        ;; JSON
        cheshire/cheshire {:mvn/version "5.12.0"}

        ;; 异步
        org.clojure/core.async {:mvn/version "1.6.681"}

        ;; 日志
        com.taoensso/timbre {:mvn/version "6.3.0"}

        ;; HTTP (LLM provider / core http client)
        http-kit/http-kit {:mvn/version "2.8.0"}}
 :aliases {:test {:extra-paths ["modules/clj-agent-llm/test"
                               "modules/clj-agent-tools/test"
                               "modules/clj-agent-core/test"
                               "modules/clj-agent-simpleagent/test"]
                 :extra-deps {lambdaisland/kaocha {:mvn/version "1.85.1342"}}
                 :main-opts ["-m" "kaocha.runner"]}}}
