#kaocha/v1
{:tests [{:id :unit
          :test-paths ["modules/clj-agent-provider/test"
                       "modules/clj-agent-client/test"
                       "modules/clj-agent-core/test"]}]}
